# Ignore RStudio user-related files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.rstudio
kitematic
.local
.cache

# Ignore Cromwell files
cromwell-*.jar
cromwell-executions
cromwell-workflow-logs

# Ignore FASTQ files in data dir
data/*fastq.gz
